<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:/logs/jobus/dev/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="c:/logs/jobus/dev"/>

  <targets>

    <target xsi:type="File" name="main" fileName="${logDirectory}/${date:format=yyyy-MM}/jobus-${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${message} ${exception}| url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

    <target xsi:type="File" name="errors" fileName="${logDirectory}/${date:format=yyyy-MM}/errors-${shortdate}.log"
        layout="${longdate} ${message}" />

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!-- <logger name="*" minlevel="Trace" writeTo="allfile" /> -->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minLevel="Trace" final="true" />
    <logger name="*" minlevel="Error" writeTo="errors" />
    <logger name="*" minlevel="Trace" writeTo="main" />
  </rules>
</nlog>